.questionContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.collapsible {
  background-color: rgb(197, 197, 197);
  color: #444;
  cursor: pointer;
  padding: 1rem;
  width: 30rem;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  word-wrap: break-word;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 1rem;
  width: 30rem;
  display: block;
  overflow: hidden;
  background-color: #f1f1f1;
  word-wrap: break-word;
}

.buttonContainer {
  width: 3rem;
}

.deleteButton {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(230, 98, 98);
  border: none;
  border-left-width: thin;
  opacity: 0.75;
}
.deleteButton:hover {
  opacity: 1;
}

.editButton {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(197, 168, 90);
  border: none;
  border-left-width: thin;
  opacity: 0.75;
}
.editButton:hover {
  opacity: 1;
}

.questionForm input {
  width: 45%;
  resize: horizontal;
  vertical-align: middle;
  margin: 0px 0.5rem 0px 0px;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #ddd;
}
